body {
    background: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
}

.qrcanvas {
	width: 75%;
	font-size: 20px;
	padding: 1em;
	border: 4px solid #ccc;
	margin-bottom: 20px;
	max-width: 400px;
}

.idxbtnblock {
	width: 75%
	max-width: 600px;
}

/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */

/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* $bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC"; */
$bg-url: "./gridme.png"
$bg-width: 50px;
$bg-height: 50px;

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}

/* Main styles */
body {
  margin-top: 13.5rem !important;
  
  color: #999 !important;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center !important;
  /* img size is 50x50 */
  background: url(gridme.png) repeat 0 0 !important;
  
  -webkit-animation: bg-scrolling-reverse .92s infinite !important; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse .92s infinite !important; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse .92s infinite !important; /* Opera 12+ */
  animation:         bg-scrolling-reverse .92s infinite !important; /* IE 10+ */
  -webkit-animation-timing-function: linear !important;
  -moz-animation-timing-function:    linear !important;
  -o-animation-timing-function:      linear !important;
  animation-timing-function:         linear !important;
  
  &::before {
      content: "INFINITY" !important;

      font-size: 8rem !important;
      font-weight: 100 !important;
      font-style: normal !important;
  }
}
